.form-container {
    background-color: #ec1c45;
    border-radius: 20px;
    width: 1000px;
}

.form-data {
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(238, 241, 243);
    color: #000;
}

.error-alert {
    color: red;
    font-size: 1rem;
}
