.form-container {
    background-color: #ec1c45;
    border-radius: 20px;
    width: 1000px;
}

.form-data {
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    background-color: #e5ecf2;
    color: #000;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.error-alert {
    color: red;
    font-size: 1rem;
}
